.places div {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.places h1 {
    font-size: 30px;
    margin: 20px;
}

.places article {
    width: 390px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}

.places h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

article.top-right {
    align-self: flex-end;
}

.price_by_night {
    position: absolute;
    top: -10px;
    right: 15px;
    color: #FF5A5F;
    border: #FF5A5F solid 4px;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    width: 60px;
    font-size: 30px;
    padding: 5px;
}

.price_by_night p {
    margin: 15px;
}

.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    display: flex;
    flex-direction: column;
    margin: -10px;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    margin-right: 20px;
    margin-top: 10px;
}

.max_guest p,
.number_rooms p,
.number_bathrooms p {
    margin: 0;
    margin-bottom: 20px;
}

.user p {
    text-align: left;
    margin-left: -250px;
    padding: 0;
    margin-bottom: 0;
}

.description {
    margin-bottom: 20px;
}